<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kidoz.sdk.api.app"
    android:versionCode="58"
    android:versionName="0.5.8" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:hardwareAccelerated="true">
        <activity android:name="com.kidoz.sdk.api.ui_views.interstitial.KidozAdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
 
        <receiver android:name="com.kidoz.sdk.api.receivers.SdkReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>